<!DOCTYPE html>
<html>
  <head>
    <title>Bible Trivia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <div id="notification" class="notification"></div>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'questions', media: 'all', 'data-turbolinks-track': 'reload' if controller_name == 'questions' %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  </head>
  <body class="<%= @body_class %>">
    <header class="site-header">
      <div class="header-container">
        <%= link_to root_path, class: "logo" do %>
          <span class="logo-text">Bible Trivia</span>
        <% end %>
        <nav class="main-nav">
          <% if logged_in? %>
            <%= link_to "Questions", questions_path, class: "nav-link" unless current_page?(questions_path) %>
            <%= link_to "Categories", categories_path, class: "nav-link" unless current_page?(categories_path) %>
            <%= link_to "Home", root_path, class: "nav-link" unless current_page?(root_path) %>
            <%= link_to "Play", play_game_path, class: "nav-link play-button" unless current_page?(play_game_path) %>
            <div class="user-info">
              <span class="username"><%= current_user.username %></span>
              <%= button_to "Log out", logout_path, method: :delete, class: "nav-link" %>
            </div>
          <% else %>
            <%= link_to "Play", play_game_path, class: "nav-link play-button" %>
            <%= link_to "Log In", "#", class: "nav-link login-button" %>
            <%= link_to "Sign Up", "#", class: "nav-link signup-button" %>
          <% end %>
        </nav>
      </div>
    </header>
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>